body {
    background-color: white;
    color: #064873;
    font-family: Consolas, sans-serif;
}
table {
    margin:1em auto;
}
td {
    max-width: 5px;
    border:1px solid;
    text-align:center;
}
td:first-child {
    border-left:solid;
}
td:nth-child(3n) {
    border-right:solid ;
}
tr:first-child {
    border-top:solid;
}
tr:nth-child(3n) td {
    border-bottom:solid ;
}
input {
    max-width: 32px;
    text-align: center;
    font-family: Consolas, serif;
}

#grid {
    margin: auto;
    width: 300px;
    height:381px;
}
.btn-success {
    color: black;
    background-color: #049F34;
    font-family: Consolas, sans-serif;
}
.btn-success:hover {
    background-color: #0A8855;
    border-color:white;
}
h3 {
    color:#064873;
}
.done {
    color: yellowgreen;
    font-family: "Arial Black", "Source Sans Pro Black", sans-serif;
}
.buttons {
    margin: auto;
    width: 25%;
}
#navbar {
    background-color: #0A8855;
}
#navbar h1{
    color: black;
    font-family: inherit;
    font-size: 2.0em;
}
xmp {
    font-family: Consolas, sans-serif;
    font-size: 1.2em;
    color: #067325;
}
#output {
    color: #88000D;
}
.col-md-6 {
    text-align: center;
}
.new-numbers {
    color: #067325;
}
footer {
    font-size: 1.0em;
    background-color: #0A8855;
    text-align: left;
    padding: 2%;

}
footer>p, li {
    color: black;
}
a {
    color: black;
    font-size: 1.2em;
    text-decoration: none;
}
span {
    color: black;
}

#right {
    text-align: left;
}
#left {
    text-align: right;
}


.pound {
    color: black;
}

@keyframes blink {
    50% {
        opacity: 0.0;
    }
}
@-webkit-keyframes blink {
    50% {
        opacity: 0.0;
    }
}
.blink {
    animation: blink 1s step-start 0s infinite;
    -webkit-animation: blink 1s step-start 0s infinite;
}


