table {
    margin:1em auto;
}
td {
    max-width: 5px;
    border:1px solid;
    text-align:center;
}
td:first-child {
    border-left:solid;
}
td:nth-child(3n) {
    border-right:solid ;
}
tr:first-child {
    border-top:solid;
}
tr:nth-child(3n) td {
    border-bottom:solid ;
}
input {
    max-width: 32px;
    text-align: center;
    font-family: Consolas, serif;
}

#grid {
    margin: auto;
    width: 300px;
    height:500px;

}
button {

}
.buttons {
    margin: auto;
    width: 25%;
}
#navbar {
    background-color: lavender;
}
#navbar h1{
    font-family: inherit;
    font-size: 2.0em;
}