<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--head will be inserted here-->
<head th:include="/fragments/header :: header"></head>

<body>


<!--navbar will be inserted here-->
<div class="container-fluid" th:include="fragments/nav :: nav"></div>

<div class="container-fluid">
    <p>App will solve a suduko puzzle</p>
    <p>I used Java with Spring Framework to build the web app!</p>
    <div class="row">
        <div class="col-md-6 col-sm-12 col-lg-6" id="left">
            <h3>test input</h3>
            <xmp>
3 . 6 5 . 8 4 . .
5 2 . . . . . . .
. 8 7 . . . . 3 1
. . 3 . 1 . . 8 .
9 . . 8 6 3 . . 5
. 5 . . 9 . 6 . .
1 3 . . . . 2 5 .
. . . . . . . 7 4
. . 5 2 . 6 3 . .

            </xmp>
            <h3>output</h3>
            <p>JSON string will be displayed here!</p>
            <p id="output"></p>
        </div>

        <div class="col-md-6 col-sm-12 col-lg-6" id="right">
            <section id="grid">
                <table class="table">
                </table>

                <button class="btn btn-success btn-lg btn-block" id="solve">Solve</button>
                <!--<button class="btn btn-info btn-lg btn-block" id="clear-board">Clear Board</button>-->
            </section>
        </div>

    </div>
</div>
<div class="container-fluid">
    <ul>
        <li><a href="https://github.com/darcikhey27/SudokuSolver-WebApp"><span class="glyphicon glyphicon-hdd"></span> Code
            on github</a></li>
    </ul>
</div>

<div class="container" th:include="fragments/footer-frag :: footer"></div>

</body>

</html>