<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--head will be inserted here-->
<head th:include="/fragments/header :: header"></head>

<body>


<!--navbar will be inserted here-->
<div class="container-fluid" th:include="fragments/nav :: nav"></div>


<div class="buttons">
    <section class="button-group">
        <button class="btn btn-primary btn-lg" id="generate-board">Generate Board</button>
        <button class="btn btn-info btn-lg" id="clear-board">Clear Board</button>

    </section>
</div>
<section id="grid">
    <table class="table">
    </table>

    <button class="btn btn-success btn-lg btn-block" id="solve">Solve</button>
</section>


<div class="container" th:include="fragments/footer-frag :: footer"></div>
</body>

</html>